* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

.logo_cont {
    width: 100px;
    height: 40px;
    line-height: 40px;
}

.first_nav {
    width: 75%;
}

.second_nav {
    width: 25%;
}

.second_nav .accedi {
    margin: 0 50px 0 50px;
}

header .row:last-child {
   position: relative;
}

header .row:last-child .jumbo_text {
    position: absolute;
    left: 60px;
    bottom: 100px;
 }

header .row:last-child .jumbo_text .returnal_cont {
    width: 300px;
    margin-bottom: 50px;
}

header .row:last-child .jumbo_text button {
    width: 150px;
    border: none;
    background-color: red;
}

header .row:last-child .jumbo_text .returnal_cont img {
    width: 100%;
}

/* / HEADER */


/* MAIN */

#first_section .row {
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: royalblue;
}

#first_section .row .col-lg-1 {
    background-color: red;
}

#second_section .row {
    margin-top: 50px;
}

#third_section .row {
    margin-top: 50px;
}

#third_section .row .plays_cont {
    width: 500px;
}

#third_section .row .plays_cont img {
    width: 100%;
}

#third_section .row .item_cont {
    width: 100px;
}

#third_section .row .item_cont img {
    width: 100%;
}

#fourth_section .row:first-child {
    margin-top: 50px;
}

#fourth_section .bg_c {
    background-color: #000000b6;
}

#fourth_section .row .img_cont {
    width: 100%;
}

#fourth_section .row .img_cont img {
    width: 100%;
}

#fourth_section .row .item_cont {
    width: 150px;
}

#fourth_section .row .item_cont img {
    width: 100%;
}

#fifth_section .row:last-child .item_cont {
    width:400px;
}

#fifth_section .row:last-child .item_cont img {
    width: 100%;
}

/* / MAIN */

