* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

.logo_cont {
    width: 100px;
    height: 40px;
    line-height: 40px;
}

.first_nav {
    width: 82%;
}

.second_nav {
    width: 18%;
}

.second_nav .accedi {
    margin: 0 50px 0 50px;
}



/* / HEADER */